<!DOCTYPE html>

<html>
	{{> head}}
	<body>
		<div>
			<h1>{{gameTitle}}</h1>
			<h4><em>{{genres}}</em></h4>
			<img src="{{image}}" alt="Cover of {{gameTitle}}">
			<p>{{summary}}</p>
		</div>
	</body>
</html>